  .searchbar__bar {
    margin-top: 1.6rem;
    background-color: #0E79FF;
    border-radius: 3rem;
    padding: 1rem 1.5rem;
    padding-right: 1rem;
    color: #ffffff;
  }

  .searchbar__bar input {
    background-color: #43424253 !important;
    padding: 0.1rem 0.75rem;
    color: #ffffff !important;
  }

  .searchbar__bar .searchbar__btn {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 1.5rem;
  }
  
  .searchbar__bar .searchbar__btn:hover {
    background-color: rgb(164, 160, 160);
  }