.searchbar__card {
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
    border-radius: 80px;
    background-color: #0E79FF;
    border-color: #0E79FF;
    color: #ffffff;
    font-size: small;
}

.searchbar__btn {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    background-color: #ffffff;
    color: #0E79FF;
}

.searchbar__btn:hover {
    background-color:#0E79FF;
    color: #ffffff;
    border-color: #0E79FF;
}

.searchbar__form {
    margin-left: 100px;
}


.searchbar__icon {
    float: right;
}

.searchbar__verticalcenter {
    top: 50%;
    bottom: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  