.custom_search {
  border-right: none !important;
}

.custom_icon {
  border-right: 1px solid #ced4da !important;
  border-top: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
  background-color: #ffffff !important;
}

.navbar-brand {
  font-weight: 700;
}

.nav-link {
  font-weight: 600;
}

.navbar {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}